<!DOCTYPE html>

<!-- Привязываем точку входа
    angularJS к HTML -->
<html ng-app="mainApp">
<head>

    <script src="../Libs/angular.js"></script>
    <meta charset="utf-8" />
    <title>Одностронние привязки</title>

    <script>

        // AngularJS => MVC

        // 1) создадим модель данных
        var model =
            [
                { name: "Vasya", age: 17, lastname:"Vasiliev" },
                { name: "Fedya", age: 18, lastname: "Fedorov" },
                { name: "Kolya", age: 19, lastname:"Nikolaev" }
            ];

        // 2) создание точки входа - Main
        // наличие параметров - указание что модуль создаётся
        //  а не загружается
        var mainApp = angular.module("mainApp", []);

        // 3) Создание контроллера
        mainApp.controller("mainCtrl", function ($scope) {
            // специальная переменная для в/д
            // м/у контроллером и вьюхой и моделью
            $scope.data = model;
        });


    </script>

    <style>
        .classEven{
            background-color:lightblue;
        }
        .classOdd {
            background-color: lightgreen;
        }
    </style>

</head>

<!-- Привязка html и контроллера -->
<body ng-controller="mainCtrl">
    <p>
        вывод списка элементов
        циклом <strong> ng-repeat</strong>
        перебор всех свойств элементов
        <strong> p in item </strong>
    </p>
    <ul>
        <li ng-repeat="item in data">
            <span ng-repeat="p in item">
                {{p}},
            </span>
        </li>
    </ul>
    <hr>
    <p>
        вывод списка элементов
        циклом <strong> ng-repeat</strong>
        перебор всех свойств элементов
        парами (ключ - значения)
        <strong> (k, v) in item </strong>
    </p>
    <ul>
        <li ng-repeat="item in data">
            <span ng-repeat="(k,v) in item">
                {{k}}: {{v}} ,
            </span>
        </li>
    </ul>
    <hr>
    <p>
        вывод списка элементов
        циклом <strong> ng-repeat</strong>
        и нумерацию
        <strong> спец переменная $index </strong>
    </p>
    <ul>
        <li ng-repeat="item in data"
            ng-class="$even ? 'classEven' : 'classOdd'">
            {{$index+1}}) 
            {{item.name}} 
            {{item.lastname}}
        </li>
    </ul>

    <hr>
    <p>
        Для работы цикла на несколько теэгов
        <strong> ng-repeat-start
                 ng-repeat-end
        </strong>
    </p>
    <div>
        <p ng-repeat-start="s in data">
            № {{$index+1}}
        </p>
        <span>{{s.name}}</span>
        <span>{{s.lastname}}</span>
        <br ng-repeat-end/>
    </div> 
</body>
</html>