<!DOCTYPE html>
<html ng-app="mainApp">
<head>
    <script src="Libs/angular.js"></script>
    <link href="Libs/bootstrap-theme.css" rel="stylesheet" />
    <link href="Libs/bootstrap.css" rel="stylesheet" />
    <meta charset="utf-8" />
    <title>AngularJS Tutorial</title>
    <script>
        // 1) модель данных
        var model = "Привет, это модель!";
        // ТОЧКА ВХОДА... - главный модуль
        var mainApp = angular.module("mainApp", []);
        // 2) контроллер - бизнес логика
        mainApp.controller("mainController", function ($scope) {
            // код контроллера
            // $scope - встроенная переменная
            // для обращения к ВЬЮШКЕ
            $scope.message = model;
            $scope.text = "";
            $scope.btnClick = function () {
                $scope.message = $scope.text;
            }
        })
    </script>
</head>

<body ng-controller="mainController">
    <h2>AngularJS Tutorial</h2>
    <h3> Архитектура MVC </h3>
    <p> сообщение из контролера: {{message}} </p>
    <input ng-model="text" placeholder="введите сообщение" />
    <button ng-click="btnClick()"> Обновить </button>
</body>
</html>